{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ include('back/user/_form-asso.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class = "button_edit"> 

        <a href="{{ path('app_back_asso') }}" class="btn btn-profil">Retour à la liste</a>

        {{ include('back/user/_delete_form-asso.html.twig') }}

    </div>
{% endblock %}
